body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tutor-card h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.tutor-card h2::after {
  border: solid 1px;
}

.course-card {
  margin: 10px 15px 20px;
  padding: 0;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.course-card .progress {
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-label {
  text-align: left;
  font-size: 10pt;
  color: grey;
}